extends layout.pug

block content
    h2 Editing Account
        form(id='profileForm' action=`/editAccount/${profile.id}`, method="post") 
            label(for='password') Change Password
            br
            input(type='text', name='password')
            br
            br
            label(for='firstname') Change First Name
            br
            input(type='text', name='first_name')
            br
            br
            label(for='lastname') Change Last Name
            br
            input(type='text', name='last_name')
            br
            br
            label(for='email') Change Email
            br
            input(type='text', name='email')
            br
            br
            input(id="editAccButton", type='submit', value='Make Changes', autofocus) 