extends layout.pug

block content
    img(id='profilePic')
    div(id='profileDiv')
        form(id='profileForm', method='post', action=`/viewProfile/${currentProfile.id}`)
            div(id='usernameFieldDiv')
                label Enter New Username:
                input(id='newUserName', type="text", name='user_name')
                input(id="editUserNameButton", type='submit', value='Edit UserName')
                br
            div(id='passwordFieldDiv')
                label Enter Old Password
                input(id='oldPassword', type='text', name='password')
                br
            div(id="editPasswordDiv")
                label Enter New Password: 
                input(id="newPassword", type='text', name="password2")
                br
                label Enter The New Password Again: 
                input(id="newPasswordRepeat", type='text', name="password3")
                br
                input(id='passwordButton', type="submit", value="Create New Password")
                br
            div(id='editEmailDiv')
                label Enter New Email
                input(id="newEmail", type='text', name='email')
                br
                input(id='editEmailButton', type='text', value='Edit Email')
                br
            div(id="editFirstNameDiv")
                label Enter new First Name:
                input(id="firstNameInput", name="first_name", type='text')
                br
                input(id="editFirstName", type='submit', value='Edit First Name')
                br
            div(id="editLastNameDiv")
                label Enter New Last Name:
                input(id="lastNameInput", name="last_name", type='text')
                br
                input(id="editLastName", type='submit', value='Edit Last Name')
                br
        div(id='ageDiv')
            p Age :: [#{age}]
            button(id="editAgeButt") EDIT
            div(id="editAgeDiv")
                p Enter new Age: 
                textarea(id="ageText" name="age" rows="1" cols="40" value="")
                br
                button(class="enterNewDetails")
    script(src='/public/index.html')