extends layout.pug

block headerBlock
    title Home
    script(src='/public/index.html')
    
block content
        div(id="postsDiv")
            p Welcome to the Message Board!
        div(id="entryDiv")
            p #{userName}
            form(action="")
                input(type="text" name="currentEntry")
                button(id='submitEntryButton' type='submit' value="SUBMIT") SUBMIT