doctype
html
    head
        link(href="https://fonts.googleapis.com/css?family=Inika&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./style.css")
    header
        div(id='headerDiv')
            h3 WebDev Massageboard
            p #{userName}
            div(id='upperButtonsDiv')
                button(id='loginButton') login
                button(id='registerButton') register
    body
    block content