doctype
html
    head
        link(href="https://fonts.googleapis.com/css?family=Inika&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./style.css")
    header
        div(id='headerDiv')
            p logo goes here
            h3 Some Website Name
        br
        nav
            a(href='/home') Home
            br
            a(href='/viewProfile') View Profile
            br
            a(href='/') View Posts
            br
        br
        div(id='upperButtonsDiv')
            div(id='loginDiv')
                form(id='loginForm', method="post", action="/home")
                    label(for='username') UserName
                    br
                    input(type="text", name='user_name', required)
                    br
                    br
                    label(for='password') Password
                    br
                    input(type="text", name='password', required)
                    br
                    br
                    input(id='loginButton', type='submit', name='login', value='Login', autofocus)
            div(id='registerDiv')
                a(href='/createAccount')
                    button(id='registerButton', autofocus) Register
        br
body
    block content